<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%"  
    src="https://lh3.googleusercontent.com/proxy/EEgiDip1SH1JT4a09alywVYSu4S891IAKSfwPMZnSgPDZEQoJ2hkW21AlXVm-mASm494dFZIRwY6e9gaXblObjkyJHc7Sz_E3w1Wj8-8bm4SWQFbrQ4qDqj_kHez9s0N24qSq1wOTeJIyw"/>
    <div class="card-body"> 
      <p class="cart-text">  <strong class="text-muted">{{254 | currency: "INR"}}</strong></p>trong
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
        </div>
      
      </div>
    </div>